---
import loadConfig from "../configLoader";
import type { Sponsor } from "../types";

const config = await loadConfig();
const sponsors: Sponsor[] = config.sponsors;
const boostedSponsors = sponsors.filter(s => s.boost);
const regularSponsors = sponsors.filter(s => !s.boost);
---

<section id="sponsors" class="bg-white py-24 px-0">
  <div class="container max-w-4xl mx-auto px-4 text-center">
    <p class="text-brand-extra font-bold mb-4 text-xl font-header uppercase">
      We couldn't do it without you
    </p>
    <h2 class="text-brand-dark text-4xl md:text-4xl uppercase font-header font-bold mb-4">
      Our Sponsors
    </h2>
    <p class="text-brand-dark text-base text-md mb-8">
      Our awesome sponsors are what make this event possible. They help us to
      keep the event free and accessible to everyone. Please take a moment to
      check them out and show them some love.
    </p>

    <!-- Boosted Sponsors -->
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 justify-center place-items-center">
      {boostedSponsors.map((sponsor) => (
        <a
          href={sponsor.url}
          target="_blank"
          rel="noopener noreferrer"
          class="flex flex-col items-center p-4 transition-transform opacity-70 transform hover:scale-105 hover:opacity-100 w-full"
        >
          <img
            src={`/images/sponsors/${sponsor.logo}.png`}
            alt={sponsor.name}
            class="w-full object-contain mb-4"
            loading="lazy"
          />
        </a>
      ))}
    </div>

    <!-- Regular Sponsors -->
    <div class="flex flex-wrap justify-center gap-6 mt-8">
      {regularSponsors.map((sponsor) => (
        <a
          href={sponsor.url}
          target="_blank"
          rel="noopener noreferrer"
          class="flex flex-col items-center p-4 transition-transform opacity-70 transform hover:scale-105 hover:opacity-100 w-full sm:w-[calc(33.333%-1rem)]"
        >
          <img
            src={`/images/sponsors/${sponsor.logo}.png`}
            alt={sponsor.name}
            class="w-4/5 sm:w-full md:w-3/4 object-contain mb-4"
            loading="lazy"
          />
        </a>
      ))}
    </div>
    
    <!-- <div class="text-center mt-20">
      <a class="text-slate-500 hover:text-purple-600 text-sm font-medium transition-colors border-b border-transparent inline-flex gap-2 items-center justify-center hover:border-purple-600 pb-0.5" href="#">
        <span>Interested in sponsoring? Contact us</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 16 16"><path fill="currentColor" d="M1.75 2h12.5c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 14H1.75A1.75 1.75 0 0 1 0 12.25v-8.5C0 2.784.784 2 1.75 2M1.5 12.251c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25V5.809L8.38 9.397a.75.75 0 0 1-.76 0L1.5 5.809zm13-8.181v-.32a.25.25 0 0 0-.25-.25H1.75a.25.25 0 0 0-.25.25v.32L8 7.88Z"/></svg>
      </a>
    </div> -->
  </div>
</section>
